@charset "UTF-8";

/* common start */
.bg_gray{background-color:#f7f7f7}
/* common END */

/* button START*/
.rec_btn_snsLogin{display: block;width: 100%;height:50px;border-radius: 32px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #ffffff;color:#828282}
.rec_btn_snsLogin.kakao{}
.rec_btn_snsLogin.facebook{}

.btn_blue{display:block;width:100%;height: 50px;background-color: #2f2fd3;color:#fff;font-weight: bold;border-radius:8px}
/* button END*/

/* layout START */
.header{position: fixed;width:100%;display: flex;height:100px;/*justify-content: center;*/align-items: center;border-bottom:1px solid #ccc;background-color:#fff;z-index: 10;}
.header .logo{position: absolute;left: 100px;}
.header .nav{position: absolute;left: 50%;margin-left: -115px;}
.header .nav ul{}
.header .nav ul li{display:inline-block}
.header .rightarea{margin-left: auto}

.contwrap{position: relative;padding-top:100px;overflow: hidden;}

.flexx{display: flex;flex-direction: row}
.flexx > input[type="text"],
.flexx > input[type="password"]{flex: 1;}
.flexx > button{}
.flexy{display: flex;flex-direction: column}

.grp_dep02{}

.flexx + .rec_input_txt,
.rec_input + .rec_input_txt,
.ipt_chk + .ipt_chk,
.ipt_chk + .grp_dep02{margin-top: 15px;}
.flexx + .rec_input_txt.caution,
.rec_input + .rec_input_txt.caution{margin-top:10px}
.flexx + .ipt_chk,
.rec_input_txt + .ipt_chk{margin-top:12px}
.ipt_chk.inline + .ipt_chk.inline{margin:0 0 0 30px}
.grp_dep02 + .rec_input_txt{margin-top:20px}
/* layout END */

/* componant START */
select{width:200px;height:34px;padding:3px;border:1px solid #ccc;border-radius: 6px;box-sizing: border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
select option{height:34px;padding:3px}
.select{}

.rec_input_tit{margin:20px 0 10px;color:#2f2fd3;}
.rec_input_tit.req::after{content: '';display: inline-block;width: 6px;height: 6px;margin-left: 10px;background: url(../images/ico_req@3x.png) no-repeat center center;background-size: 6px 6px;vertical-align:4px}
.rec_input{height:50px;  border: solid 1px #2f2fd3;padding: 13px 10px;background-color: #ffffff;box-sizing: border-box;font-size: 16px}
.rec_input_txt{color:#828282;line-height:28px}
.rec_input_txt.caution{color: #ff4040}

.ipt_chk{position: relative;}
.ipt_chk input[type="checkbox"]{display: none}
.ipt_chk label{display:inline-block;padding-left:40px;line-height:30px;color: #828282;cursor: pointer;}
.ipt_chk label::before{content: '';position: absolute;left: 0;top:0;width:30px;height: 30px;border: 1px solid #828282;background: url(../images/check@3x.png) no-repeat center center;background-size:24px 24px;border-radius: 4px;box-sizing: border-box}
.ipt_chk.req label::after{content: '';display: inline-block;width: 6px;height: 6px;margin-left: 10px;background: url(../images/ico_req@3x.png) no-repeat center center;background-size: 6px 6px;vertical-align:4px}
.ipt_chk input[type="checkbox"]:checked + label::before{border-color: #2f2fd3;background:#2f2fd3 url(../images/check_on@3x.png) no-repeat center center;background-size:24px 24px;}
.ipt_chk.inline{display: inline-block;}
.ipt_chk.all{padding-bottom: 10px;border-bottom: 1px dashed #ccc}
.ipt_chk .btn_chksub{float: right;line-height: 30px;color: #ccc;text-decoration: none;font-size:14px}
.grp_dep02 .ipt_chk label::before{border-radius: 15px}

.btn_ipt{padding:0 25px;background-color: #fff}
/* componant END */


/* form START */
.formwrap{padding:20px;background-color:#fff;box-sizing:border-box}
.formwrap .titlearea{display: flex;align-items:center;height: 60px;}
.formwrap .titlearea h2{line-height: 60px;font-size:24px;padding-left:80px;background: url(../images/logo_symbole@3x.png) no-repeat left center;background-size:60px 60px;}
.formwrap .titlearea h3{line-height: 30px;font-size: 20px}
.formwrap .contarea{margin-top: 30px;padding-top: 30px;border-top: 1px solid #c3c3c3}
.formwrap .contarea .rec_btn_snsLogin + .rec_btn_snsLogin{margin-top: 15px}
.formwrap .contarea > .rec_input_tit,
.formwrap .contarea > .rec_input_txt,
.formwrap .contarea > .ipt_chk,
.formwrap .contarea > .grp_dep02{margin-left: 10px}


.btnarea{position: fixed;bottom: 0px;left: 0px;width:100%;z-index: 10;}
.btnarea + .formwrap{padding-bottom:100px}
.btnarea .btn_blue{border-radius:0}
/* form END */




/* 테블릿에서 사용될 스타일을 여기에 작성합니다. */
@media screen and (min-width: 769px) {
    .grp_dep02{padding-left:40px}
    .btnarea{position: absolute;bottom: 20px;left: 20px;right:20px;width: auto;}
    .btnarea + .formwrap{padding-bottom:100px}
 }
/* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
 @media screen and (min-width: 1280px) {
    .formwrap{width:560px;min-height:600px;margin:60px auto;padding:40px;}
    .btnarea{position: absolute;bottom: 100px;left: 50%;width: 480px;transform: translateX(-50%);}
    .btnarea + .formwrap{padding-bottom:120px}
 }
 