@charset "UTF-8";

/* common start */
.bg_gray{background-color:#f7f7f7}

.cl_blue{color:#2f2fd3}
/* common END */

/* button START*/
.rec_btn_snsLogin{display: block;width: 100%;height:50px;border-radius: 32px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color: #ffffff;color:#828282}
.rec_btn_snsLogin.kakao{}
.rec_btn_snsLogin.facebook{}

.btn_blue{display:block;width:100%;height: 50px;background-color: #2f2fd3;color:#fff;font-weight: bold;border-radius:8px}
/* button END*/

/* layout START */
.header{position: fixed;width:100%;display: flex;height:100px;align-items: center;box-shadow: 0 3px 6px #d6d6d6;background-color:#fff;z-index: 10;}
.header .logo{position: absolute;left: 100px;width:60px;height:60px;background: url(../images/logo_symbole@3x.png) no-repeat left center;background-size:60px 60px;}
.header .logo a{display: block;height: 100%;overflow: hidden;text-indent: 101%;white-space: nowrap;}
.header .nav{position: absolute;left:50%;margin-left: -428px;width:856px;}
.header .nav ul{overflow: hidden;}
.header .nav ul li{display:inline-block;text-decoration: none;}
.header .nav ul li + li{margin-left: 40px;}
.header .nav ul li a{color:#828282;font-size: 24px;}
.header .nav ul li.on a{color: #2f2fd3;font-weight:bold;}
.header .rightarea{margin-left: auto}
.header .rightarea button{height: 32px;border:1px solid #707070;padding: 4px 15px;color:#828282;border-radius:10px;}

.contwrap{position: relative;padding-top:100px;text-align: center;/*overflow: hidden;*/}
.container{position: relative;display: inline-block;margin-top:50px}
.content{display: inline-block;width:856px;text-align:left}
.content.wide{width:932px;}
.content.sideline{width:280px;}
.content.sideuser{width:400px;}

.content .titlearea{height:50px;padding: 10px;box-sizing: border-box}
.content .titlearea h3{font-size:20px;line-height: 29px;font-weight: bold}

.listbox{}
.listbox li{display: inline-block;}
.listbox li > .flexh_center{display: flex;flex-direction: row;align-items: center;}
.listbox li .infobox{display: inline-block;flex:1;margin-left: 15px;vertical-align: top;}
.listbox li .infobox .tit{font-weight: bold;margin-bottom: 10px;}

.listbox.rate li{display: inline-block;width:300px;}
.listbox.rate li + li{margin-left: 30px;}
.listbox.rate li .infobox .txt{border-bottom: 1px solid #ebebeb;padding-bottom:5px;font-size:14px}
.listbox.rate li .infobox .txt_sub{display: block;margin-top: 5px;font-size: 12px;}

.flexx{display: flex;flex-direction: row}
.flexx > input[type="text"],
.flexx > input[type="password"]{flex: 1;}
.flexx > button{}
.flexy{display: flex;flex-direction: column}

.grp_dep02{}

.flexx + .txt_sub,
.rec_input + .txt_sub,
.ipt_chk + .ipt_chk,
.ipt_chk + .grp_dep02{margin-top: 15px;}
.flexx + .txt_sub.caution,
.rec_input + .txt_sub.caution{margin-top:10px}
.flexx + .ipt_chk,
.txt_sub + .ipt_chk{margin-top:12px}
.ipt_chk.inline + .ipt_chk.inline{margin:0 0 0 30px}
.grp_dep02 + .txt_sub{margin-top:20px}

.ad_main{width:932px;height:240px;background:#ccc url(/resource/images/ad_main.png) no-repeat center center}
.ad_left{position: absolute;left:-200px;width:160px;height:600px;background: url(/resource/images/ad_left.png) no-repeat center center}
.ad_right{position: absolute;right:-200px;width:160px;height:600px;background: url(/resource/images/ad_left.png) no-repeat center center}
/* layout END */

/* componant START */
select{width:200px;height:34px;padding:3px;border:1px solid #ccc;border-radius: 6px;box-sizing: border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
select option{height:34px;padding:3px}
.select{}

.rec_input_tit{margin:20px 0 10px;color:#2f2fd3;}
.rec_input_tit.req::after{content: '';display: inline-block;width: 6px;height: 6px;margin-left: 10px;background: url(../images/ico_req@3x.png) no-repeat center center;background-size: 6px 6px;vertical-align:4px}
.rec_input{height:50px;  border: solid 1px #2f2fd3;padding: 13px 10px;background-color: #ffffff;box-sizing: border-box;font-size: 16px}
.txt_sub{color:#828282;}
.txt_sub.caution{color: #ff4040}
.txt_sub > .btn_txt{margin-left: 20px}

.txt_cm{font-size: 24px;}

.ipt_chk{position: relative;}
.ipt_chk input[type="checkbox"]{display: none}
.ipt_chk label{display:inline-block;padding-left:40px;line-height:30px;color: #828282;cursor: pointer;}
.ipt_chk label::before{content: '';position: absolute;left: 0;top:0;width:30px;height: 30px;border: 1px solid #828282;background: url(../images/check@3x.png) no-repeat center center;background-size:24px 24px;border-radius: 4px;box-sizing: border-box}
.ipt_chk.req label::after{content: '';display: inline-block;width: 6px;height: 6px;margin-left: 10px;background: url(../images/ico_req@3x.png) no-repeat center center;background-size: 6px 6px;vertical-align:4px}
.ipt_chk input[type="checkbox"]:checked + label::before{border-color: #2f2fd3;background:#2f2fd3 url(../images/check_on@3x.png) no-repeat center center;background-size:24px 24px;}
.ipt_chk.inline{display: inline-block;}
.ipt_chk.all{padding-bottom: 10px;border-bottom: 1px dashed #ccc}
.ipt_chk .btn_chksub{float: right;line-height: 30px;color: #ccc;text-decoration: none;font-size:14px}
.grp_dep02 .ipt_chk label::before{border-radius: 15px}

.ipt_file{}
.ipt_file > input[type="file"]{display: none;}
.ipt_file > label{display: inline-block;padding:0 11px;line-height: 50px;cursor: pointer;}

.btn_ipt{padding:0 25px;background-color: #fff}


.piechart_wrap{position: relative;display: inline-block;}
.piechart {position: relative;display:inline-block;width: 100px;height: 100px;border-radius: 50%;transition: 0.3s;z-index:1;}
.piechart + .center{color:#2f2fd3;font-size:20px;background: #fff;display : block;position: absolute;top:5px; left:5px;width:90px; height:90px;border-radius: 50%;text-align:center; line-height: 90px;/*transform: translate(-50%, -50%);*/z-index: 1;}
.piechart_wrap::before{content:'';position:absolute;left:2px;top:2px;width:96px;height:96px;border:2px solid #ccc;border-radius:50%;box-sizing:border-box;z-index:-1;}
 
/* componant END */


/* form START */
.formwrap{position: relative;padding:20px;background-color:#fff;box-sizing:border-box;text-align: left}
.formwrap .titlearea{display: flex;align-items:center;height: 60px;}
.formwrap .titlearea h2{line-height: 60px;font-size:24px;padding-left:80px;background: url(../images/logo_symbole@3x.png) no-repeat left center;background-size:60px 60px;}
.formwrap .titlearea h3{line-height: 30px;font-size: 20px}
.formwrap .contarea{margin-top: 30px;padding-top: 30px;border-top: 1px solid #c3c3c3}
.formwrap .contarea .rec_btn_snsLogin + .rec_btn_snsLogin{margin-top: 15px}
.formwrap .contarea > .rec_input_tit,
.formwrap .contarea > .txt_sub,
.formwrap .contarea > .ipt_chk,
.formwrap .contarea > .grp_dep02{margin-left: 10px}
.formwrap .contarea .txt_sub{line-height:28px}
.formwrap .btnfixed{height: 50px;margin-top:50px}

.btnarea{position: fixed;bottom: 0px;left: 0px;width:100%;z-index: 10;}
.btnfixed .btn_blue{border-radius:0}
/* form END */




/* 테블릿에서 사용될 스타일을 여기에 작성합니다. */
@media screen and (min-width: 769px) {
    .grp_dep02{padding-left:40px}
    .btnarea{position: absolute;bottom: 20px;left: 20px;right:20px;width: auto;}
    .btnfixed .btn_blue{border-radius:8px}
 }
/* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
 @media screen and (min-width: 1280px) {
    .formwrap{width:560px;min-height:600px;margin:60px auto;padding:40px;}
    .btnarea{position: absolute;bottom: 40px;left: 40px;right:40px;}
    .btnfixed .btn_blue{border-radius:8px}
 }
 